body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 48px;
  color: #F9FAF8;
}
h2{
  font-size: 36px;
  font-weight: 100;
}
h3{
  font-size: 24px;
  color: #F9FAF8;
}
h4{
  font-size: 18px;
  font-weight: 300;
}
p{
  font-size: 16px;
  font-weight: 100;
}
a{
  text-decoration: none;
}
button{
  padding: 5px 20px;
  color: #E5E7EB;
  background-color: #3882F6;
  border: none;
  border-radius: 5px;
  transition: .4s;
}
button:hover{
  cursor: pointer;
  opacity: .8;
  transition: .4s;
}

.header{
  background-color: #1F2937;
  padding: 5px 10vw 100px 10vw;
}
.navigation{
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.navigation-left{
  flex: 2;
}
.navigation-right{
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.navigation-button{
  color: #E5E7EB;
  transition: .4s;
}
.navigation-button:hover{
  color: #AAAAAA;
  transition: .4s;
}
.hero{
  display: flex;
  justify-content: space-between;
}
.hero-left {
  flex: 1;
}
.hero-right {
  display: flex;
  flex: 1;
  background-color: #888;
  margin-left: 100px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.hero-title{
  font-weight: bolder;
}
.hero-description{
  color: #E5E7EB;
}
.information{
  text-align: center;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 40px;
}
.information-text{
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 600;
}
.cards{
  display: flex;
  justify-content: space-around;
}
.card{
  width: 15vw;
}
.card-image{
  width: 13vw;
  height: auto;
  border: 2px solid #3882F6;
  border-radius: 5px;
}
.card-description{
  text-align: justify;
}
.quote{
  background-color: #E5E7EB;
  padding: 50px 20vw;
}
.quote-text{
  font-weight: 300;
  line-height: 40px;
}
.quote-author{
  text-align: right;
}
.action{
  background-color: #3882F6;
  margin: 100px 15vw;
  padding: 25px 5vw;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.action-title{
  font-weight: 900;
}
.action-title, .action-description{
    line-height: 18px;
}
.action-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.action-button{
  border: 1px solid #fff;
}
.footer{
  background-color: #1F2937;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #E5E7EB;
  text-align: center;
}